PORT=3000
NODE_ENV=development

DB_URL=mongodb+srv://deva05031406_db_user:i17asQ4yDDE8TzHb@cluster0.kxchsgw.mongodb.net/

INNGEST_EVENT_KEY=X7u1OkqXCqdw_jO4BoNStKArJjhYcqNvhoRGG-mxzQFtbHaU8BeRqz2j1w9jF1MSSG0VwS-gSHCRCq7wbqG00g
INNGEST_SIGNING_KEY=signkey-prod-7f3b64d8d6b76b379c6f6b1e1d9fecf88b14f14c25f024b3c1b5699ee210795a

STREAM_API_KEY=fwun666p7dw5
STREAM_API_SECRET=7jwzu3dvc68893wj8kznx6vuesgjhvf8cjrxuebavm3pxk88w82du266f7ud7n3n
CLERK_PUBLISHABLE_KEY=VITE_CLERK_PUBLISHABLE_KEY=pk_test_YW11c2luZy1jcmlja2V0LTU5LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=your_clerk_secret_key

CLIENT_URL=http://localhost:5173